.super{
    border-radius: 10px;
    border-top: 5px solid rgba(70, 210, 209);
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.082);
      width: 350px;
    height: 250px;
    padding: 15px 15px;

 
}
