.cal {
    border-radius: 10px;
    border-top: 5px solid rgb(82, 159, 241);
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.082);
    width: 350px;
    height: 250px;
    padding: 15px 15px;
 



}

.item p {
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 20px;
    color: rgba(88, 88, 96);
    padding: 0px 10px;

}

.item h3 {
    font-size: 13px;
    font-weight: 100;
    color: rgba(88, 88, 96, 0.61);
    padding: 0px 10px;

}