.team {

    border-radius: 10px;
    border-top: 5px solid rgb(234, 84, 83);
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.082);
    width: 350px;
    height: 250px;
    padding: 15px 15px;
 


}
