.both {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 400px;


}

.item {
    display: flex;
    flex-direction: column;

}

.both2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.items .karma{
    position: relative;
    bottom: 100px;
    

}
.items .team{
    position: relative;
    top: 100px;
}