.karma {
    border-radius: 10px;
    border-top: 5px solid rgba(251, 173, 75);
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.082);
    width: 350px;
    height: 250px;
    padding: 15px 15px;


}

img {
    position: relative;
    left: 240px;
    top: 25px;

}
