.titleBold {
    margin: 0 auto;
    font-family: sans-serif;


}

.titleBold h3 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.61);
    font-weight: 100;



}

.titleBold p {
    font-size: 40px;
    color: black;
}